{
	"data_dir": "/opt/consul/{{life_consul_version}}/data",
	"pid_file": "/opt/consul/{{life_consul_version}}/consul.pid",
	"node_name": "{{inventory_hostname}}",
	"datacenter": "prod",
	"client_addr": "{{inventory_hostname}}",
	"advertise_addr": "{{inventory_hostname}}",
        "bind_addr": "{{inventory_hostname}}",
        "retry_join": [
          "192.168.122.31:8301",
          "192.168.122.32:8301",
          "192.168.122.33:8301"
        ],
	"server": true,
	"ui": true,
	"bootstrap_expect": 3,
	"acl_datacenter": "prod",
        "acl_default_policy": "deny",
        "acl_down_policy": "extend-cache",
	"acl_master_token": "{{consul_master_token}}",
        "acl_token": "{{consul_acl_token}}",
        "acl_agent_token": "{{consul_acl_agent_token}}"
}

