management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: {{secrets_gw_server_port}}

spring:
  pid:
    file: "tmp/application.pid"
  application:
    name: "spring-cloud-gateway"
  cloud:
    consul:
      host: "{{inventory_hostname}}"
      port: "{{secrets_consul_port}}"
    gateway:
      discovery:
        locator:
          enabled: true

  datasource:
    url: "{{secrets_gw_spring_datasource_url}}"
    username: "{{secrets_gw_spring_datasource_username}}"
    password: "{{secrets_gw_spring_datasource_password}}"
    driver-class-name: "org.postgresql.Driver"

    hikari:
      connectionTimeout: 30000 # 30s
      idleTimeout: 600000 # 10m
      maxLifetime: 1800000 # 30m
      connectionTestQuery: "SELECT 1"
      minimumIdle: 1
      maximumPoolSize: 5
      poolName: "HikariCP pool"     

  liquibase:
    change-log: file:config/liquidbase/changelog/changelog.sql
    check-change-log-location: true
    enabled: true

  rabbitmq:
    addresses: "{{secrets_gw_spring_rabbitmq_addresses}}"
    username: "{{secrets_gw_spring_rabbitmq_username}}"
    password: "{{secrets_gw_spring_rabbitmq_password}}"

life:
  basic-auth:
    enabled: true
    userInfos:
      - username: "{{ secrets_gw_life_basic_auth_user_infos_username }}"
        password: "{{ secrets_gw_life_basic_auth_user_infos_password }}"
        privileges:
          - "MONITORING"
  gateway:
    revokedTokenCacheExpireAfter: 10
    getRevokedTokenCacheMaximumSize: 100000
  jwt:
    enabled: true
    provider:
      enabled: false
    manager:
      enabled: false
    keyStore:
      keys:
        1:
          publicKey: {{secrets_gw_life_jwt_key_store_keys_1_public_key}}
        2:
          publicKey: {{secrets_gw_life_jwt_key_store_keys_2_public_key}}
          privateKey: {{secrets_gw_life_jwt_key_store_keys_2_private_key}}
      default-key-id: 2
      default-expiry: 5
  sleuth:
    enabled: true
    excludedMetricsFromLogging:
      - "consuldiscoveryregistration.register"
      - "discoveryclientimpl.updatecaches"
      - "statuscontroller.status"
