management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  context-path: /
  session:
    timeout: 3600
  port: {{secrets_web_server_port}}
  use-forward-headers: true
  tomcat:
    protocolHeader: x-forwarded-proto
    portHeader: x-forwarded-port
    remoteIpHeader: x-forwarded-for

spring:
  pid:
    file: tmp/application.pid
  application:
    name: frontend

life:
  basic-auth:
    enabled: true
    userInfos:
      - username: "{{ secrets_web_life_basic_auth_user_infos_username }}"
        password: "{{ secrets_web_life_basic_auth_user_infos_password }}"
        privileges:
          - "MONITORING"
