management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  servlet:
    context-path: /
    session:
      timeout: 3600
  port: {{secrets_bb_server_port}}
  use-forward-headers: true
  tomcat:
    protocolHeader: x-forwarded-proto
    portHeader: x-forwarded-port
    remoteIpHeader: x-forwarded-for

spring:
  pid:
    file: tmp/application.pid
  application:
    name: backend-birthdays

  datasource:
    url: {{secrets_bb_spring_datasource_url}}
    username: {{secrets_bb_spring_datasource_username}}
    password: {{secrets_bb_spring_datasource_password}}
    driver-class-name: org.postgresql.Driver

    hikari:
      connectionTimeout: 30000 # 30s
      idleTimeout: 600000 # 10m
      maxLifetime: 1800000 # 30m
      connectionTestQuery: "SELECT 1"
      minimumIdle: 1
      maximumPoolSize: 5
      poolName: "HikariCP pool"

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        generate_statistics: false
        hbm2ddl.auto: validate
        show_sql: false
    open-in-view: false

  liquibase:
    change-log: file:config/liquidbase/changelog/changelog.sql
    check-change-log-location: true
    enabled: true

life:
  basic-auth:
    enabled: true
    userInfos:
      - username: "{{ secrets_bb_life_basic_auth_user_infos_username }}"
        password: "{{ secrets_bb_life_basic_auth_user_infos_password }}"
        privileges:
          - "MONITORING"
  cluster:
    tools:
      locks:
        enabled: true
        duration: 120
        deleteObsoleteCron: "0 * * * * ?"
      workers:
        enabled: true
        completedCleanupPeriod: 60
        requestQueue: 
          corePoolSize: 2
          maximumPoolSize: 5
          poolKeepAlive: 10
          queueSize: 100
          deleteOlderThen: 60

  jwt:
    enabled: true
    provider:
      enabled: true
    manager:
      enabled: true
    tokenLocation: "HEADER"
    tokenParamName: "X-GATEWAY-JWT-TOKEN"      
    keyStore:
      keys:
        2:
          publicKey: {{secrets_bb_life_jwt_key_store_keys_2_public_key}}
      default-expiry: 10
  sleuth:
    enabled: true
    excludedMetricsFromLogging:
      - "consuldiscoveryregistration.register"
      - "workerrequestqueueserviceimpl.searchforrequests"
