management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  servlet:
    context-path: /
    session:
      timeout: 3600
  port: {{secrets_as_server_port}}
  use-forward-headers: true
  tomcat:
    protocolHeader: x-forwarded-proto
    portHeader: x-forwarded-port
    remoteIpHeader: x-forwarded-for

spring:
  pid:
    file: tmp/application.pid
  application:
    name: authentication-service

  datasource:
    url: {{secrets_as_spring_datasource_url}}
    username: {{secrets_as_spring_datasource_username}}
    password: {{secrets_as_spring_datasource_password}}
    driver-class-name: org.postgresql.Driver

    hikari:
      connectionTimeout: 30000 # 30s
      idleTimeout: 600000 # 10m
      maxLifetime: 1800000 # 30m
      connectionTestQuery: "SELECT 1"
      minimumIdle: 1
      maximumPoolSize: 5
      poolName: "HikariCP pool"

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect
        generate_statistics: false
        hbm2ddl.auto: validate
        show_sql: false
    open-in-view: false

  liquibase:
    change-log: file:config/liquidbase/changelog/changelog.sql
    check-change-log-location: true
    enabled: true

  rabbitmq:
    addresses: "{{secrets_as_spring_rabbitmq_addresses}}"
    username: "{{secrets_as_spring_rabbitmq_username}}"
    password: "{{secrets_as_spring_rabbitmq_password}}"    

life:
  auth:
    deleteRevokedTokensAfter: 120 # minutes
    deleteRevokedTokensCron: "0 0 * * * ?" # every hour
    cookiesOverHttpsOnly: true
  basic-auth:
    enabled: true
    userInfos:
      - username: "{{ secrets_as_life_basic_auth_user_infos_username }}"
        password: "{{ secrets_as_life_basic_auth_user_infos_password }}"
        privileges:
          - "MONITORING"
  jwt:
    enabled: true
    provider:
      enabled: true
    manager:
      enabled: true
    tokenLocation: "HEADER"
    tokenParamName: "X-GATEWAY-JWT-TOKEN"      
    keyStore:
      keys:
        1:
          publicKey: {{secrets_as_life_jwt_key_store_keys_1_public_key}}
          privateKey: {{secrets_as_life_jwt_key_store_keys_1_private_key}}
        2:
          publicKey: {{secrets_as_life_jwt_key_store_keys_2_public_key}}
      default-key-id: 1
      default-expiry: 10
  sleuth:
    enabled: true
    excludedMetricsFromLogging:
      - "consuldiscoveryregistration.register"

